<!-- app/templates/admin/employees/employee.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if edit_personalinfo %}
        Edit Personal Info
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">

        <div class="center">
            {% if edit_personalinfo %}
                <h1>Edit Personal Info</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      
</div>
{% endblock %}
